TAGS
Makefile
config.log
config.status
*.swp
*.exe
obj
goblint
goblint.byte
goblint.json
src/version.ml
src/config.ml
src/goblint.ml
tests/bench.txt
.DS_Store
.tm_properties
_build
doc
doclist.odocl
autom4te.cache
mytests
ma.sublime-workspace
