[submodule "webapp"]
	path = webapp
	url = https://github.com/vogler/goblint-webapp.git
[submodule "g2html"]
	path = g2html
	url = https://github.com/goblint/g2html.git
[submodule "syntactical_analyzer"]
	path = syntactical_analyzer
	url = git@github.com:faddeenkov/syntactical_analyzer.git
