# git shortlog -nse

Martin Schwarz <schwmart@in.tum.de>
Martin Schwarz <schwmart@in.tum.de> <schwarz@dellseidl5.(none)>
Alexander Herz <herz@in.tum.de> <alexander.herz@mytum.de>
Vootele Rõtov <vootele.rotov@gmail.com>

Stefan Marcik <stefan.marcik@web.de>
Stefan Marcik <stefan.marcik@web.de> <stefan@stefan-vmware-work.(none)>
Stefan Marcik <stefan.marcik@web.de> <stefan@hiwi-vm.(none)>
Stefan Marcik <stefan.marcik@web.de> <stefan@Stefan-Work-VM.(none)>
Stefan Marcik <stefan.marcik@web.de> <stefan@stefan-work-vm64.(none)>
Stefan Marcik <stefan.marcik@web.de> <stefan@stefan-ubuntu.(none)>

<vesal.vojdani@gmail.com> <vesal@cs.ut.ee>
<kalmer.apinis@gmail.com> <kalmera@dellseidl1.(none)>
Ralf Vogler <ralf.vogler@gmail.com>
<simmo.saan@gmail.com> <simmo@goblint-test.cloud.ut.ee>
<julian.erhard@tum.de> <julian.erhard@yahoo.de>

Ivana Zuzic <ivana.zuzic@tum.de> <ivanazuzic@users.noreply.github.com>
Kerem Çakırer <kcakirer@hotmail.com> <cakirerkerem@gmail.com>
Sarah Tilscher <66023521+stilscher@users.noreply.github.com>

Elias Brandstetter <brandste@in.tum.de> <15275491+superbr4in@users.noreply.github.com>
wherekonshade <wherekonshade@web.de> <80516286+Wherekonshade@users.noreply.github.com>
Martin Wehking <martin.wehking1@gmail.com>
Edin Citaku <edin.citaku@jetbrains.com>

Alexander Eichler <alexander.eichler197@gmail.com>
<alexander.eichler197@gmail.com> <alex.eichler197@gmail.com>
