@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(UbuntuMonoRegular.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(UbuntuMonoBold.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(AlegreyaSans400.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(AlegreyaSans500.woff) format('woff');
}

text {
  font-family:'Alegreya Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;  
}

html , body {
  font-family:'Alegreya Sans', sans-serif;
  font-weight:400;
  font-size:10pt;
  margin: 0;
  padding: 0;
}
  
.toggle, .nontoggle {
  padding-left: 0.6em;
  padding-right: 0.6em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.toggle {
  border-style: solid none solid none;
  border-width:1px;
  border-color:#ccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.emph {
  font-weight:500;
}

.fill {
  height:100%;
  width:100%;
}

.fillW {
  width:100%;
}

.borderless {
    border-style:none;
    border-width:0px;
}

.node-wrap {
  margin:4px;
  padding:4px;
  border-style: none solid none solid;
  border-width:3px;
  border-color:#555;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display:block;
  text-decoration:none;
}

#top-frame-div {
  border-style: none none solid none;
  border-width:5px;
  color:gray;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  width:100%;
  height: 35px; 
  font-size:19pt; 
}

#data-frame-div {
  margin-left:10px;
  margin-top:0px;
  margin-bottom:0px;
  width:240px;
  float: left;
  position: absolute;
  top:40px;
  bottom: 10px;
  overflow-x:auto;
  overflow-y:auto;
}

#file-view-frame-div {
  float: right;
  position: absolute;
  top:40px;
  bottom: 10px;
  right: 5;
  left:275px;
  overflow-x:auto;
  overflow-y:auto;   
}


#footer{
    border-style: solid none none none;
    border-width:5px;
    color:gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    width:100%;
    height: 10px;
    bottom:0;
    position:absolute;
}

#dragbar{
   margin: 0px 5px 0px 5px;
   background-color:gray;
   position: absolute;
   float:left;
   top:40px;
   left:255px;
   bottom:10px;
   width: 5px;
   cursor: col-resize;
}

.red-bg {
  background: #f66;
}

.blue-bg {
  background: #39f;
}

.green-bg {
  background: #693;
}

.yellow-bg {
  background: #982;
}

.button {
   margin: 8px 8px 8px 7px; 
   padding: 3px 15px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: white;
   font-size: 13px;
   font-weight:500;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
  opacity:0.6;
  cursor:pointer;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.bg1 {
  background-color: #daede2;
/*  background-color: #efe;*/
}

.bg2 {
}

.bg3 {
}

.nothing {
  text-align: center;
  vertical-align: middle;
  line-height: 100px; 
  color:#ddd;
}
.node-location {
  font-size:8px;
}

.node-id {
  font-size:14px;
}

.source-block {
  font-family:'Ubuntu Mono', sans-serif;
  width:100%;
  padding-top:1em;
  padding-bottom:1em;
  font-size:12pt;
  display:table;
}
.sl-nr {
  display:inline-block;
  width:3em;
  padding-right:0.4em;
  text-align:right;
}

.sl-data {
  white-space:pre-wrap;
  padding-left:0.4em;
  width:100%;
}

.sl {
  cursor:pointer;
  display:table-row;
}

.sl-warn {
  display:inline-block;
  cursor:pointer;
  width:0.5em;
  height:0.5em;
  margin:1px 0px 4px 0px;
  vertical-align:middle;
  background-color:#E00;
  border-color:#500;
  border-style:solid;
  border-width:1.5px;
}

.sl-nowarn {
  display:inline-block;
  cursor:pointer;
  width:0.5em;
  height:0.5em;
  margin:1px 0px 4px 0px;
  vertical-align:middle;
  background-color:transparent;
  border-color:transparent;
  border-style:solid;
  border-width:1px;
}

.inline-warning {
  display:block;
  border-style:dashed none none none;
  border-width:2px;
  width:100%;
  padding:0px;
  background-color: #fcc;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#global-button {
  float:right
}

.live{
  font-weight:700;
}
.dead {
  font-weight:700;
  color:red;
}

.hidden {
  display:none;
}

.nr { color : #A00   ; font-weight:400; }
.pp { color : #808   ; font-weight:500; }
.tk { color : #088   ; font-weight:500; }
.sk { color : #080   ; font-weight:500; }
.op { color : #00A   ; font-weight:500; }
.sp { color : #D50   ; font-weight:500; }
.cm { color : #555   ; font-weight:400; }
.st { color : #900   ; font-weight:500; }

