<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <ul class="unstyled">
      	<li ng-repeat="thing in awesomeThings"><a href="#/{{thing}}">{{thing}}</a></li>
      </ul>
    </div>
    <div class="span10">
      <!--Body content-->
      <textarea ui-codemirror="{mode: 'text/x-csrc', lineNumbers: true, matchBrackets: true, theme:'monokai'}" ng-model="codeMirrorModel"></textarea>

      <textarea id="code"></textarea>
      <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-csrc"
      });
      </script>
    </div>
  </div>
</div>
