# Python requirements for MkDocs and Read the Docs

mkdocs==1.2.3

# TODO: temporary workaround for deprecated usage (https://github.com/mkdocs/mkdocs/issues/2794#issuecomment-1077705509)
jinja2==3.0.3
