name: uploadSarif

on:
  push:
  pull_request:

jobs:
  upload-Sarif:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      # This step checks out a copy of your repository.
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: test.sarif
